RewriteEngine on
RewriteRule ^simpananmember$ index.php?page=simpananmember [QSA]
RewriteRule ^pinjaman$ index.php?page=pinjaman [QSA]
RewriteRule ^shu$ index.php?page=shu [QSA]
RewriteRule ^data_user$ index.php?page=data_user [QSA]